
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  background-color: #635D5C;
  color: #fff;
  padding: 10px;
}

.containered {
  width: 70%;
  margin: 20px;
  margin-top: 70px;
  background-color: #413737;
  padding: 10px;
  color: white;
  border-radius: 15px;
  padding-top: 30px;
}


.card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 10px;
}

.card__job {
  font-size: 13px;
  line-height: 10px;
}

.card__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  line-height: 10px;
}

.card__header {
  font-size: 20px;
  line-height: 10px;
}

.card__name {
  font-size: 14px;
  line-height: 10px;
}

.card__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.card__img img {
  width: 100%;
}

.card__btn {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.card__btn #a {
  border: none;
  outline: none;
  padding: 5px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: #9B1D20;
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 50%;
  font-weight: 450;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: start; /*isse flex me jo data he bo stratch nhi hoga*/
}

form{
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

}





nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: #000000;
	position: fixed;
  top: 0px;
	width: 100%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	z-index: 1;
	opacity: 0.9;
  left: 0px;
}

.logo{
	color: #49ffd0;
	letter-spacing: 25px;
	font-size: 20px;
	background-color: #000000;
}

.navLink{
	display: flex;
	justify-content: space-around;
	width: 40%;
	background-color: #000000;
	}
	
.navLink li{
	list-style: none;
	background-color: #000000;
}

.navLink a{
	color: aquamarine;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 16px;
	background-color: #000000;
}

.navLink a:hover{
   color: #588275;
}